<div class="CDEK-widget" id="#WID#cdek_widget_cnt">
	<div class="CDEK-widget__preloader" id="#PRELOADER#">
		<div class="CDEK-widget__preloader-truck" >
			<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 440.34302 315.71001">
			  <g>
				<path class="path1" d="M416.43,188.455q-1.014-1.314-1.95-2.542c-7.762-10.228-14.037-21.74-19.573-31.897-5.428-9.959-10.555-19.366-16.153-25.871-12.489-14.513-24.24-21.567-35.925-21.567H285.128c-0.055.001-5.567,0.068-12.201,0.068h-9.409a14.72864,14.72864,0,0,0-14.262,11.104l-0.078.305V245.456l0.014,0.262a4.86644,4.86644,0,0,1-1.289,3.472c-1.587,1.734-4.634,2.65-8.812,2.65H14.345C6.435,251.839,0,257.893,0,265.334v46.388c0,7.441,6.435,13.495,14.345,13.495h49.36a57.8909,57.8909,0,0,0,115.335,0h82.61a57.89089,57.89089,0,0,0,115.335,0H414.53a25.8416,25.8416,0,0,0,25.813-25.811v-44.29C440.344,219.47,425.953,200.805,416.43,188.455ZM340.907,320.132a21.5865,21.5865,0,1,1-21.59-21.584A21.61074,21.61074,0,0,1,340.907,320.132ZM390.551,207.76c-0.451.745-1.739,1.066-3.695,0.941l-99.197-.005V127.782h42.886c11.539,0,19.716,5.023,28.224,17.337,5.658,8.19,20.639,33.977,21.403,35.293,0.532,1.027,1.079,2.071,1.631,3.125C386.125,191.798,392.658,204.279,390.551,207.76ZM121.372,298.548a21.58351,21.58351,0,1,1-21.583,21.584A21.6116,21.6116,0,0,1,121.372,298.548Z" transform="translate(0 -62.31697)"/>
				<path class="path2" d="M30.234,231.317h68a12.51354,12.51354,0,0,0,12.5-12.5v-50a12.51354,12.51354,0,0,0-12.5-12.5h-68a12.51354,12.51354,0,0,0-12.5,12.5v50A12.51418,12.51418,0,0,0,30.234,231.317Z" transform="translate(0 -62.31697)"/>
				<path class="path3" d="M143.234,231.317h68a12.51354,12.51354,0,0,0,12.5-12.5v-50a12.51354,12.51354,0,0,0-12.5-12.5h-68a12.51354,12.51354,0,0,0-12.5,12.5v50A12.51418,12.51418,0,0,0,143.234,231.317Z" transform="translate(0 -62.31697)"/>
				<path class="path4" d="M30.234,137.317h68a12.51354,12.51354,0,0,0,12.5-12.5v-50a12.51355,12.51355,0,0,0-12.5-12.5h-68a12.51355,12.51355,0,0,0-12.5,12.5v50A12.51418,12.51418,0,0,0,30.234,137.317Z" transform="translate(0 -62.31697)"/>
				<path class="path5" d="M143.234,137.317h68a12.51354,12.51354,0,0,0,12.5-12.5v-50a12.51354,12.51354,0,0,0-12.5-12.5h-68a12.51354,12.51354,0,0,0-12.5,12.5v50A12.51418,12.51418,0,0,0,143.234,137.317Z" transform="translate(0 -62.31697)"/>
			  </g>
			</svg>
			<div class="CDEK-widget__preloader-truck__grass"></div>
			<div class="CDEK-widget__preloader-truck__road"></div>
		</div>
	</div>
	<div id="#MAP#" class="CDEK-widget__map"></div>
	<div class="CDEK-widget__search CDEK-widget__inaccessible">
		<div class="CDEK-widget__search-box">
			<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 51.63557 50.41538">
			  <path class="path" d="M51.353,0.914A0.99853,0.99853,0,0,0,50.218.701L0.583,23.481a1,1,0,0,0,.252,1.895l22.263,3.731,2.545,21.038a1.00164,1.00164,0,0,0,.824.865,0.97388,0.97388,0,0,0,.169.015,0.999,0.999,0,0,0,.896-0.556l24-48.415A0.99978,0.99978,0,0,0,51.353.914ZM27.226,46.582L24.994,28.125a1.00155,1.00155,0,0,0-.828-0.866L4.374,23.941,48.485,3.697Z" transform="translate(-0.0002 -0.6096)"/>
			</svg>
			<input type="text" name="town" value="#CITY#" placeholder="#CITYSEARCH#" id="#WID#cdek_search_input">
            <button class="CDEK-widget__delivery-type__button ">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 608.99721 611.84603">
                    <g>
                        <path class="CDEK-widget__delivery_courier" d="M417.19812,302.72005a22.21621,22.21621,0,0,0-21.362-20.04709l-72.26781-1.108a9.97688,9.97688,0,0,1-9.10476-7.907L298.5408,172.42893c-0.57712-3.667-3.99636-18.61788-22.66187-18.61788L186.01,157.72438c-11.83932.51451-21.464,6.27084-21.464,22.42639,0,0-.3784,224.99753-0.83847,233.15088l-3.14426,55.66853a91.98249,91.98249,0,0,1-6.32529,26.27846l-36.3755,82.33218a18.97718,18.97718,0,0,0,13.0671,26.65825l12.1102,3.00544a23.2673,23.2673,0,0,0,5.60523.67377c9.77581,0,19.127-5.67329,23.27031-14.11791l34.57743-70.4806a171.14444,171.14444,0,0,0,10.59795-29.41047l19.5108-81.27592,47.2171,72.20793c3.8929,5.95368,8.009,17.37786,8.808,24.4477l9.1279,80.84172a24.0889,24.0889,0,0,0,23.36287,20.86923l13.81027-.04765a20.1837,20.1837,0,0,0,20.24446-22.42911l-9.53353-96.11388a139.95253,139.95253,0,0,0-7.24815-30.64368L300.08163,351.25756l-0.26134-23.29618,98.33117-3.63972a19.785,19.785,0,0,0,19.063-21.41777Zm-92.0808,301.47133h0v0Z" transform="translate(-2.00187 0.84609)"/>
                        <path class="CDEK-widget__delivery_courier" d="M214.73855,132.44774a66.665,66.665,0,0,0,66.24334-73.88758l22.33112-2.5195c7.78172-.87795,15.68051-7.08481,18.37287-14.43777L329.16542,21.176A13.0559,13.0559,0,0,0,328.0098,9.059a12.51735,12.51735,0,0,0-10.50812-5.1193c-0.51043,0-1.03856.0245-1.58029,0.07622l-64.57048,6.14153A66.62573,66.62573,0,1,0,214.73855,132.44774Z" transform="translate(-2.00187 0.84609)"/>
                        <path class="CDEK-widget__delivery_courier" d="M496.86108,236.73808l-6.42465-92.34484a21.71437,21.71437,0,0,0-21.3579-19.88784l-123.44178.21506A19.38181,19.38181,0,0,0,326.194,145.60194l6.42465,92.34484a21.70638,21.70638,0,0,0,21.32113,19.88785l123.47854-.21507A19.37986,19.37986,0,0,0,496.86108,236.73808ZM353.93843,251.02748h0Z" transform="translate(-2.00187 0.84609)"/>
                    </g>
                    <path class="CDEK-widget__delivery_pvz" d="M515.78535,336.442L609.556,529.07327c3.81317,7.83436-.195,14.2438-8.90811,14.2438H12.35346c-8.713,0-12.72227-6.40938-8.90808-14.2438L97.217,336.442a10.86137,10.86137,0,0,1,8.90808-5.57153h80.40459a11.25693,11.25693,0,0,1,7.44629,3.4251c5.4551,6.30391,11.0117,12.46254,16.55239,18.55849,5.26205,5.78647,10.552,11.64856,15.80011,17.648H130.908a10.85641,10.85641,0,0,0-8.90808,5.57153L59.88013,503.68647H553.11832L491.00357,376.07364a10.85667,10.85667,0,0,0-8.90908-5.57153H386.458c5.24714-5.99941,10.539-11.86153,15.80109-17.648,5.55759-6.11387,11.14506-12.26057,16.6131-18.56645a11.2442,11.2442,0,0,1,7.43335-3.41714h80.57375A10.85489,10.85489,0,0,1,515.78535,336.442ZM444.3625,204.79909c0,105.257-87.626,124.9977-128.83681,226.15a9.851,9.851,0,0,1-18.26991-.03981c-37.17572-91.20135-112.08538-116.211-126.41772-197.45847C156.72663,153.46615,212.10559,75.11644,292.96492,67.47312A137.99029,137.99029,0,0,1,444.3625,204.79909Zm-65.106,0a72.8568,72.8568,0,1,0-72.8568,72.8568A72.85625,72.85625,0,0,0,379.25652,204.79909Z" transform="translate(-2.00187 0.84609)"/>
                    <path class="CDEK-widget__delivery_box" d="M2.65884,483.52043L2.00192,205.83482a19.01632,19.01632,0,0,1,26.49046-17.53019L281.28291,296.368a19.0146,19.0146,0,0,1,11.541,17.43932l0.65691,277.68561a19.01643,19.01643,0,0,1-26.49046,17.53118L14.19987,500.96076A19.01337,19.01337,0,0,1,2.65884,483.52043ZM581.8529,218.90533l-233.27959,101.03,0.607,256.98364L582.46091,475.889l-0.608-256.98365m9.4395-33.50094a19.03627,19.03627,0,0,1,19.04968,18.99079L610.999,482.08078A19.01452,19.01452,0,0,1,599.53983,499.575L347.26446,608.83345a18.97537,18.97537,0,0,1-26.57333-17.40334L320.03422,313.7435a19.01226,19.01226,0,0,1,11.46017-17.49426L583.76973,186.99181a18.96546,18.96546,0,0,1,7.52267-1.58742h0ZM304.6555,28.99646L62.66821,137.04388l242.49546,106.8993L547.15193,135.89676,304.6555,28.99646M304.58661-.42119a19.0199,19.0199,0,0,1,7.71532,1.61535L578.26779,118.44046c15.0872,6.65207,15.13814,28.04191.08184,34.76386L312.94086,271.70855a19.01736,19.01736,0,0,1-15.42366.03693L31.55236,154.4992c-15.0882-6.65107-15.13812-28.04191-.08286-34.76386L296.87727,1.2311a19.00856,19.00856,0,0,1,7.70934-1.65228h0Z" transform="translate(-2.00187 0.84609)"/>
                    <g>
                        <path class="CDEK-widget__delivery_post" d="M583.48644,1.00006H333.42136V278.85179H611.27187V28.78547A27.78592,27.78592,0,0,0,583.48644,1.00006ZM440.37361,85.39856a23.15306,23.15306,0,1,1,18.19131,27.22786A23.15377,23.15377,0,0,1,440.37361,85.39856Zm87.54323,119.35919H398.25316V149.18813H527.91684v55.56962Z" transform="translate(-0.00001 -1.00006)"/>
                        <path class="CDEK-widget__delivery_post" d="M55.56963,334.42141H0V584.48774a27.78565,27.78565,0,0,0,27.78541,27.78418h250.0663V334.42141H55.56963ZM125.4755,400.2955a23.15306,23.15306,0,1,1,18.19131,27.22786A23.15373,23.15373,0,0,1,125.4755,400.2955ZM213.0187,519.6547H83.355V464.08509H213.01871V519.6547h0Z" transform="translate(-0.00001 -1.00006)"/>
                        <path class="CDEK-widget__delivery_post" d="M27.78542,1.00006A27.7859,27.7859,0,0,0,0,28.78547v250.0663H277.85174V1.00006H27.78542Zm97.69008,84.3985a23.15306,23.15306,0,1,1,18.19131,27.22786A23.15376,23.15376,0,0,1,125.4755,85.39856Zm87.5432,119.35919H83.355V149.18813H213.01871v55.56962h0Z" transform="translate(-0.00001 -1.00006)"/>
                        <path class="CDEK-widget__delivery_post" d="M583.48644,334.42141H333.42136V612.27192H583.48768a27.78567,27.78567,0,0,0,27.78418-27.78542V334.42141H583.48644ZM440.37361,400.2955a23.15307,23.15307,0,1,1,18.19131,27.22786A23.15375,23.15375,0,0,1,440.37361,400.2955ZM527.91684,519.6547H398.25316V464.08509H527.91684V519.6547Z" transform="translate(-0.00001 -1.00006)"/>
                    </g>
                </svg>
            </button>
		</div>
		<div class="CDEK-widget__delivery-type">
			<div class="CDEK-widget__delivery-type__box" id="#WID#cdek_delivery_types">
				<div class="CDEK-widget__delivery-type__title" id="#WID#cdek_delivery_type_title">
					<span class="CDEK_no-avail">#NO_AVAIL#</span>
					<span class="CDEK_choose" style="display:none;">#CHOOSE_TYPE_AVAIL#</span>
				</div>
				<div style="text-align: center; padding-bottom: 10px; display:none;" id="#WID#cdek_delivery_type_none">
					<span>#CHOOSE_OTHER_CITY#</span>
				</div>
			</div>
		</div>
		<!-- HERE -->
		<div class="CDEK-widget__courier-address">
			<div class="CDEK-widget__courier-address__box CDEK-widget__courier-address__box_close" id="#WID#cdek_courier_address">
				<div class="CDEK-widget__courier-address__title" id="#WID#cdek_courier_address_title">
					<span>#TYPE_ADDRESS#</span>
				</div>
				<div class="CDEK-widget__courier-address__item" data-delivery-address = "address">
					<input type="text" placeholder="#TYPE_ADDRESS_HERE#" id="#WID#cdek_courier_address_place"> <button class="CDEK-widget__courier-address__button">OK</button>
				</div>
			</div>
		</div>

		<div class="CDEK-widget__search-list">
			<div class="CDEK-widget__search-list__box">
				<ul id="#WID#city_list">
	
				</ul>
			</div>
		</div>
	</div>
	<div class="CDEK-widget__sidebar CDEK-widget__inaccessible" id="#WID#sidebar">
	</div>
	<div class="CDEK-widget__panel" id="#WID#panel">
        <div class="CDEK-widget__panel-list" id="#WID#pointlist"></div>
        <div class="CDEK-widget__panel-details" id="#WID#detail_panel"></div>
        <div class="CDEK-widget__panel-contacts">
            <div class="CDEK-widget__panel-headline">
                <span>#H_SUPPORT#</span>
            </div>
            <div class="CDEK-widget__panel-content">
                <p>#H_QUESTIONS#</p>
                <p>
                    <a href="tel:88002501405" class="CDEK-widget__phone">
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 444.41148 446.40002">
                            <path class="path"
                                  d="M374.456,293.506c-9.7-10.1-21.4-15.5-33.8-15.5-12.3,0-24.1,5.3-34.2,15.4l-31.6,31.5c-2.6-1.4-5.2-2.7-7.7-4-3.6-1.8-7-3.5-9.9-5.3-29.6-18.8-56.5-43.3-82.3-75-12.5-15.8-20.9-29.1-27-42.6,8.2-7.5,15.8-15.3,23.2-22.8,2.8-2.8,5.6-5.7,8.4-8.5,21-21,21-48.2,0-69.2l-27.3-27.3c-3.1-3.1-6.3-6.3-9.3-9.5-6-6.2-12.3-12.6-18.8-18.6-9.7-9.6-21.3-14.7-33.5-14.7s-24,5.1-34,14.7l-0.2.2-34,34.3a73.16053,73.16053,0,0,0-21.7,46.5c-2.4,29.2,6.2,56.4,12.8,74.2,16.2,43.7,40.4,84.2,76.5,127.6,43.8,52.3,96.5,93.6,156.7,122.7,23,10.9,53.7,23.8,88,26,2.1,0.1,4.3.2,6.3,0.2,23.1,0,42.5-8.3,57.7-24.8,0.1-.2.3-0.3,0.4-0.5,5.2-6.3,11.2-12,17.5-18.1,4.3-4.1,8.7-8.4,13-12.9,9.9-10.3,15.1-22.3,15.1-34.6,0-12.4-5.3-24.3-15.4-34.3Zm35.8,105.3c-0.1,0-.1.1,0,0-3.9,4.2-7.9,8-12.2,12.2a262.94685,262.94685,0,0,0-19.3,20c-10.1,10.8-22,15.9-37.6,15.9-1.5,0-3.1,0-4.6-.1-29.7-1.9-57.3-13.5-78-23.4-56.6-27.4-106.3-66.3-147.6-115.6-34.1-41.1-56.9-79.1-72-119.9-9.3-24.9-12.7-44.3-11.2-62.6a45.90488,45.90488,0,0,1,13.8-29.7l34.1-34.1c4.9-4.6,10.1-7.1,15.2-7.1,6.3,0,11.4,3.8,14.6,7l0.3,0.3c6.1,5.7,11.9,11.6,18,17.9,3.1,3.2,6.3,6.4,9.5,9.7l27.3,27.3c10.6,10.6,10.6,20.4,0,31-2.9,2.9-5.7,5.8-8.6,8.6-8.4,8.6-16.4,16.6-25.1,24.4a2.35721,2.35721,0,0,0-.5.5c-8.6,8.6-7,17-5.2,22.7l0.3,0.9c7.1,17.2,17.1,33.4,32.3,52.7l0.1,0.1c27.6,34,56.7,60.5,88.8,80.8a136.53623,136.53623,0,0,0,12.3,6.7c3.6,1.8,7,3.5,9.9,5.3,0.4,0.2.8,0.5,1.2,0.7a21.67755,21.67755,0,0,0,9.9,2.5c8.3,0,13.5-5.2,15.2-6.9l34.2-34.2c3.4-3.4,8.8-7.5,15.1-7.5,6.2,0,11.3,3.9,14.4,7.3l0.2,0.2,55.1,55.1C420.456,377.706,420.456,388.206,410.256,398.806Z"
                                  transform="translate(-0.34447 -27.40598)"></path>
                        </svg>
                        8 800 250-14-05
                    </a>
                </p>
                <p class="CDEK-widget__panel-content-mail">
                    <a href="mailto:sale@cdek.ru" target="_blank" class="CDEK-widget__mail">
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 64 44.676">
                            <path class="path"
                                  d="M58,10.324H6a6.006,6.006,0,0,0-6,6V49a6.006,6.006,0,0,0,6,6H58a6.006,6.006,0,0,0,6-6V16.324A6.00668,6.00668,0,0,0,58,10.324Zm-0.982,4L32,32.367,6.982,14.324H57.018ZM58,51H6a2.00073,2.00073,0,0,1-2-2V17.107l26.83,19.35a2.004,2.004,0,0,0,2.34,0L60,17.107V49A2.00073,2.00073,0,0,1,58,51Z"
                                  transform="translate(0 -10.32397)"/>
                        </svg>
                        <span>sale@cdek.ru</span>
                    </a>
                </p>
            </div>
            <div class="CDEK-widget__developer">
                Разработано в
                <a href="https://ipolh.com/" target="_blank" class="IPOL-logo">
                    <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
                         viewBox="0 0 351.414 45.4688">
                        <defs>
                            <clipPath id="IPOL-logo__clip-a" transform="translate(-220.293 -283.2656)">
                                <path class="IPOL-logo__path-a"
                                      d="M383.41109,285.4717a17.92737,17.92737,0,0,0-6.0595-2.0029,18.14886,18.14886,0,0,0-2.5938-.2081h-45.4736a18.14886,18.14886,0,0,0-2.5938.2081,17.96788,17.96788,0,0,0-15.4482,17.8339l-0.001,27.4366h9.3897s0.0009-26.3389.0009-27.4366a8.65226,8.65226,0,0,1,8.6534-8.6523h45.4716a8.6529,8.6529,0,0,1,8.6534,8.6523v27.4092h4.3105c0.1279,0.0108.2549,0.0274,0.3848,0.0274,0.1162,0,.2246-0.0205.3379-0.0274h4.3574s-0.001-26.9131-.001-27.4092A18.03477,18.03477,0,0,0,383.41109,285.4717Z"/>
                            </clipPath>
                            <linearGradient id="IPOL-logo__gradient-b" y1="22.7344" x2="351.414" y2="22.7344"
                                            gradientUnits="userSpaceOnUse">
                                <stop offset="0" stop-color="#ac3994"/>
                                <stop offset="1" stop-color="#11b9e7"/>
                            </linearGradient>
                            <clipPath id="IPOL-logo__clip-c" transform="translate(-220.293 -283.2656)">
                                <path class="IPOL-logo__path-a"
                                      d="M474.36129,285.4717h-0.0019a17.9352,17.9352,0,0,0-6.0596-2.0029,18.14537,18.14537,0,0,0-2.59279-.2081H420.23239a18.172,18.172,0,0,0-2.5947.2081,17.96887,17.96887,0,0,0-15.4463,17.8339v9.3907a18.19439,18.19439,0,0,0,18.041,18.0459H465.707a18.1599,18.1599,0,0,0,2.59279-.208,17.9235,17.9235,0,0,0,6.0596-2.0069h0.0019a18.03575,18.03575,0,0,0,9.38671-15.831v-9.3907A18.03694,18.03694,0,0,0,474.36129,285.4717Zm-0.0019,25.2217a8.65245,8.65245,0,0,1-8.6543,8.6523h-45.4727a8.6526,8.6526,0,0,1-8.6523-8.6523v-9.3907a8.6526,8.6526,0,0,1,8.6523-8.6523h45.4727a8.65245,8.65245,0,0,1,8.6543,8.6523v9.3907Z"/>
                            </clipPath>
                            <clipPath id="IPOL-logo__clip-e" transform="translate(-220.293 -283.2656)">
                                <path class="IPOL-logo__path-a"
                                      d="M518.42679,283.2607a18.18435,18.18435,0,0,0-17.0264,12.0674l-0.2832.8389-10.9688,32.5723h9.9063l10.3398-30.7002c0.0147-.0381.02351-0.0791,0.0391-0.1162a8.68575,8.68575,0,0,1,7.9932-5.2725h43.8906v36.0889H571.707V283.2607H518.42679Z"/>
                            </clipPath>
                            <clipPath id="IPOL-logo__clip-g" transform="translate(-220.293 -283.2656)">
                                <path class="IPOL-logo__path-a"
                                      d="M292.46289,319.3457h-54.126a8.65217,8.65217,0,0,1-8.6533-8.6523c0-.1739-0.0029-0.9844-0.0078-2.2198h0.0068V283.2705h-0.1045s-2.0498-.0039-4.582-0.0098h-0.0166c-2.5303.0059-4.6514,0.0098-4.6514,0.0098H220.293v25.2031h0.00389c-0.002,1.2266-.003,2.0342-0.003,2.2198a18.19664,18.19664,0,0,0,18.042,18.0459h63.5166V283.2607h-9.3896v36.085Z"/>
                            </clipPath>
                            <linearGradient id="IPOL-logo__gradient-h" x1="0.00049" y1="22.7344" x2="351.414" y2="22.7344"
                                            xlink:href="#IPOL-logo__gradient-b"/>
                        </defs>
                        <g class="IPOL-logo__group-b" style="clip-path: url(#IPOL-logo__clip-a);">
                            <rect class="IPOL-logo__rect-c" width="351.414" height="45.4688"/>
                        </g>
                        <g class="IPOL-logo__group-d" style="clip-path: url(#IPOL-logo__clip-c);">
                            <rect class="IPOL-logo__rect-c" width="351.414" height="45.4688"/>
                        </g>
                        <g class="IPOL-logo__group-e" style="clip-path: url(#IPOL-logo__clip-e);">
                            <rect class="IPOL-logo__rect-c" width="351.414" height="45.4688"/>
                        </g>
                        <g class="IPOL-logo__group-f" style="clip-path: url(#IPOL-logo__clip-g);">
                            <rect class="IPOL-logo__rect-g" x="0.00049" width="351.41351" height="45.4688"/>
                        </g>
                    </svg>
                </a>
            </div>
        </div>
    </div>
	
	<a href="https://www.cdek.ru/" target="_blank" class="CDEK-widget__logo CDEK-widget__inaccessible">
			<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 212.68346 47.2252">
			<defs>
			   <linearGradient id="CDEK-widget__logo-gradient" data-name="Безымянный градиент" x1="10717.5556" y1="-10111.60892" x2="12379.5556" y2="-10111.60892" gradientTransform="matrix(0.02835, 0, 0, -0.02835, -299.26929, -256.66611)" gradientUnits="userSpaceOnUse">
				 <stop offset="0" stop-color="#fff"/>
				 <stop offset="1" stop-color="#00732c"/>
			   </linearGradient>
			 </defs>
			<g>
			  <g>
				  <g>
					<rect class="CDEK-widget__logo-a" x="57.65669" y="1.98425" width="42.26457" height="43.34173"/>
					<path class="CDEK-widget__logo-b" d="M89.65984,18.79367H85.20945c-8.92913,0-16.55433,22.36535-6.0378,22.36535H85.9748c3.88346,0,6.7748,1.41732,5.49921,5.21575l-1.78583,5.27244h-7.2l-5.811-.05669c-7.42677-.085-12.24567-3.74173-13.9748-9.26929-1.84252-5.9811.7937-18.53858,8.44724-26.53228C75.6,11.16847,81.75118,8.36218,89.74488,8.36218h14.59843l-2.26772,6.51969c-1.53071,4.22362-4.53543,3.91181-6.26457,3.91181H89.65984Z" transform="translate(-4.47874 -6.34958)"/>
				  </g>
				  <g>
					<g>
					  <rect class="CDEK-widget__logo-a" x="133.73858" y="18.3685" width="32.17323" height="10.57323"/>
					  <path class="CDEK-widget__logo-b" d="M170.33386,24.74643H146.74961c-3.88346,0-5.64094,1.02047-6.32126,3.31654l-2.211,7.2h23.55591c3.85512,0,5.64094-1.07717,6.32126-3.37323Z" transform="translate(-4.47874 -6.34958)"/>
					</g>
					<g>
					  <rect class="CDEK-widget__logo-a" x="127.98425" y="1.98425" width="43.39843" height="43.34173"/>
					  <path class="CDEK-widget__logo-b" d="M164.60787,41.159H141.02362c-3.88346,0-5.64094,1.07717-6.32126,3.31654l-2.211,7.17165H156.0189c3.88346,0,5.66929-1.07717,6.34961-3.31654Zm0,0h0ZM175.80472,8.36218H152.27716c-3.91181,0-5.69764,1.02047-6.378,3.28819l-2.211,7.14331h23.55591c3.91181,0,5.66929-1.07717,6.378-3.31654Z" transform="translate(-4.47874 -6.34958)"/>
					</g>
				  </g>
				  <g>
					<rect class="CDEK-widget__logo-a" x="89.85827" y="1.98425" width="43.93701" height="43.34173"/>
					<path class="CDEK-widget__logo-b" d="M116.674,18.737h5.86772c4.96063,0,3.82677,6.26457,1.27559,12.3874-2.18268,5.35748-6.15118,10.03465-10.885,10.03465H103.1811c-3.88346,0-5.69764,1.07717-6.463,3.31654L94.337,51.64721h7.17165l6.97323-.05669c6.20787-.085,11.33858-0.51024,17.23465-5.86772,6.29291-5.64094,13.63465-20.32441,12.3874-28.77165-0.99213-6.66142-4.59213-8.589-13.20945-8.589H109.07716L99.94961,35.20627h5.811c3.45827,0,5.21575.05669,7.02992-4.90394Z" transform="translate(-4.47874 -6.34958)"/>
				  </g>
				  <g>
					<rect class="CDEK-widget__logo-a" x="161.88661" y="1.95591" width="50.79685" height="43.37008"/>
					<path class="CDEK-widget__logo-b" d="M166.36535,51.64721h11.08346l4.79055-13.63465L187.2,33.84564l3.88346,12.33071c1.24724,3.79843,2.49449,5.47087,5.21575,5.47087h8.47559L196.04409,27.411,217.10551,8.30548h-13.6063l-12.86929,13.578c-1.44567,1.61575-2.948,3.14646-4.50709,5.04567H185.9811l6.463-18.62362h-11.1685Z" transform="translate(-4.47874 -6.34958)"/>
				  </g>
			  </g>
			  <g>
				<g>
				  <rect class="CDEK-widget__logo-a" width="47.2252" height="47.2252"/>
				  <path class="CDEK-widget__logo-c" d="M22.22362,7.11493L24.57638,6.633l2.35276-.22677h2.35276L31.578,6.633l2.23937,0.45354L36,7.7669l2.09764,0.85039,2.0126,1.07717,1.89921,1.2189,1.75748,1.41732,1.61575,1.5874,1.474,1.75748,1.30394,1.89921,1.13386,2.04094,0.90709,2.18268,0.70866,2.29606,0.48189,2.35276,0.25512,2.3811v2.32441l-0.25512,2.29606-0.45354,2.26772-0.652,2.15433-0.85039,2.126-1.07717,1.98425-1.24724,1.89921-1.41732,1.75748-1.5874,1.64409-1.75748,1.474-1.89921,1.30394-2.04094,1.10551-2.18268.93543-2.29606.70866-2.35276.48189-2.35276.22677H26.90079l-2.29606-.22677L22.337,52.83777l-2.18268-.68031-2.09764-.85039-1.98425-1.07717-1.89921-1.24724L12.3874,47.56532l-1.61575-1.5874-1.474-1.72913L7.9937,42.32123,6.85984,40.28029,5.95276,38.126l-0.737-2.29606L4.7622,33.44879,4.53543,31.096V28.77162L4.7622,26.47556l0.45354-2.23937,0.68031-2.18268,0.85039-2.09764,1.04882-2.0126,1.24724-1.89921,1.41732-1.75748,1.5874-1.64409,1.75748-1.474,1.89921-1.30394,2.04094-1.13386,2.18268-.90709Z" transform="translate(-4.47874 -6.34958)"/>
				</g>
				<g>
				  <rect class="CDEK-widget__logo-a" x="9.26929" y="14.14488" width="36.17008" height="26.70236"/>
				  <path class="CDEK-widget__logo-d" d="M17.40472,21.82674A46.83559,46.83559,0,0,0,27.18425,23.074c5.726,0.22677,11.99055.05669,19.53071,0h2.60787c0.62362,0,.7937.68031,0.11339,0.90709l-2.29606.652C32.99528,28.885,22.252,34.15745,14.51339,46.885c-0.31181.51024-.7937,0.25512-0.737-0.3685,0.822-5.89606,1.67244-10.77165,4.337-16.15748-1.53071-2.211-1.10551-4.62047-2.69291-8.13543-0.17008-.39685-0.3685-0.737-0.45354-0.99213-0.19843-.62362.14173-0.822,0.62362-0.652C16.7811,21.08973,15.93071,21.51493,17.40472,21.82674Z" transform="translate(-4.47874 -6.34958)"/>
				</g>
				<g>
				  <rect class="CDEK-widget__logo-a" x="8.16378" y="14.0315" width="31.63465" height="23.83937"/>
				  <path class="CDEK-widget__logo-e" d="M17.348,21.7984a51.83,51.83,0,0,0,9.77953,1.24724c5.13071,0.17008,10.68661.05669,17.12126,0-12.64252,4.05354-22.8189,9.89291-30.189,21.14646a45.40689,45.40689,0,0,1,4.05354-13.86142c-0.3685-.51024-0.737-1.02047-1.10551-1.5874,0.085-.17008.17008-0.39685,0.25512-0.56693a46.864,46.864,0,0,1-4.62047-7.48346c0-.31181.31181-0.34016,0.652-0.25512A20.61427,20.61427,0,0,0,17.348,21.7984Z" transform="translate(-4.47874 -6.34958)"/>
				</g>
				<g>
				  <rect class="CDEK-widget__logo-a" x="5.86772" y="9.89291" width="37.27559" height="27.72283"/>
				  <path class="CDEK-widget__logo-d" d="M15.052,17.68816a56.892,56.892,0,0,0,9.80787,1.24724c5.726,0.17008,11.9622,0,19.50236,0h2.63622c0.652,0,.822.68031,0.14173,0.85039l-2.32441.70866c-14.11654,4.252-25.285,10.34646-33.02362,23.10236-0.34016.51024-.87874,0.4252-0.737-0.17008,0.99213-5.83937,2.06929-11.84882,4.79055-17.14961A44.09769,44.09769,0,0,1,10.8,17.94328c-0.17008-.4252-0.31181-0.68031-0.39685-0.93543-0.17008-.652.22677-0.90709,0.737-0.652A25.08521,25.08521,0,0,0,15.052,17.68816Z" transform="translate(-4.47874 -6.34958)"/>
				</g>
			  </g>
			</g>
			</svg>
	</a>
	<div class="CDEK-widget__photo">
		<div class="CDEK-widget__photo-block">
			<div class="CDEK-widget__photo-block__cross">
				<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 15.6435 15.64375">
				  <path class="cross" d="M8.882,7.821L15.423,1.28A0.75024,0.75024,0,1,0,14.362.219L7.821,6.76,1.28,0.22A0.75024,0.75024,0,0,0,.219,1.281L6.76,7.822l-6.54,6.54a0.74989,0.74989,0,1,0,1.06,1.061L7.821,8.882l6.541,6.541a0.74989,0.74989,0,1,0,1.06-1.061Z" transform="translate(0.00075 0.00078)"/>
				</svg>
			</div>
			<img src="#">
		</div>
	</div>
    <div class="CDEK-widget__sidebar-button__hint" id="list">#H_LIST#</div>
    <div class="CDEK-widget__sidebar-button__hint" id="delivery">#H_PROFILE#</div>
    <div class="CDEK-widget__sidebar-button__hint" id="point1">#H_CASH#</div>
    <div class="CDEK-widget__sidebar-button__hint" id="point3">#H_DRESS#</div>
    <div class="CDEK-widget__sidebar-button__hint" id="contacts">#H_SUPPORT#</div>
    <div id='#WID#SDEK_closer' class='SDEK_closer'></div>
</div>